<div>
  <div>
    <h3>WELKOM {{authService.getUser().username}}!</h3>
  </div>

  @if (authService.isAdmin()) {
    <div class="add-article">
      <button mat-raised-button color="primary" (click)="addPost()">Add new article</button>
    </div>
  }

  @if (authService.isAdmin()) {
    <div class="go-to-drafts">
      <button mat-raised-button color="accent" (click)="goToDrafts()">Go to drafts</button>
    </div>
  }

  <div class="log-out">
    <button mat-raised-button color="warn" (click)="logout()">Log out</button>
  </div>

  <div class="filters">
    <div>
      <p>Filters: </p>
      <mat-form-field appearance="fill">
        <mat-label>Search by content</mat-label>
        <input matInput [(ngModel)]="filterCriteria.content" placeholder="Search by content" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Search by author</mat-label>
        <input matInput [(ngModel)]="filterCriteria.author" placeholder="Search by author" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Search by date</mat-label>
        <input matInput [(ngModel)]="filterCriteria.date" placeholder="Search by date" type="date" />
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="applyFilters()">Apply filters</button>
    </div>
  </div>

  <div class="posts">
    @for (post of filteredPosts; track trackPostId($index, post)) {
      <div>
        <mat-card class="post-individual" (click)="getPostDetails(post.id)">
          <mat-card-header>
            <mat-card-title>{{ post.title }}</mat-card-title>
            <mat-card-subtitle>{{ post.author }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p><b>Content:</b> {{ post.content }}</p>
            @if (authService.isAdmin()) {
              <p><b>Status:</b> {{ post.status || 'No status available' }}</p>
            }
          </mat-card-content>
        </mat-card>
      </div>
    }
  </div>
</div>
