<div>
  <div *ngIf="authService.isAdmin()" class="add-article">
    <button (click)="addPost()">Add new article</button>
  </div>
  <div *ngIf="authService.isAdmin()" class="go-to-drafts">
    <button (click)="goToDrafts()">Go to drafts</button>
  </div>
  <div class="log-out">
    <button (click)="logout()">Log out</button>
  </div>
  <div class="posts">
    @for (post of this.posts; track post.id) {
      <div class="post-individual" (click)="getPostDetails(post.id)">
        <p><b>Title:</b> {{post.title}}</p>
        <p><b>Content:</b> {{post.content}}</p>
        <p><b>Author:</b> {{post.author}}</p>
      </div>
    }
  </div>
</div>
