<div>
  <div *ngIf="authService.isAdmin()" class="add-article">
    <button (click)="addPost()">Add new article</button>
  </div>
  <div *ngIf="authService.isAdmin()" class="go-to-drafts">
    <button (click)="goToDrafts()">Go to drafts</button>
  </div>
  <div class="log-out">
    <button (click)="logout()">Log out</button>
  </div>

  <div class="filters">
    <div>
      <p>Filters: </p>
      <input [(ngModel)]="filterCriteria.content" placeholder="Search by content" />
      <input [(ngModel)]="filterCriteria.author" placeholder="Search by author" />
      <input [(ngModel)]="filterCriteria.date" placeholder="Search by date" type="date" />
      <button (click)="applyFilters()">Apply filters</button>
    </div>
  </div>

  <div class="posts">
    @for (post of this.filteredPosts; track post.id) {
      <div class="post-individual" (click)="getPostDetails(post.id)">
        <p><b>Title:</b> {{post.title}}</p>
        <p><b>Content:</b> {{post.content}}</p>
        <p><b>Author:</b> {{post.author}}</p>
        <p *ngIf="authService.isAdmin()"><b>Status:</b> {{post.status || 'No status available'}}</p>
      </div>
    }
  </div>
</div>
