<div>
  <h1>Post Overview</h1>

  <div>
    <h3>Title</h3>
    <p>{{post.title}}</p>
    <h3>Content</h3>
    <p>{{post.content}}</p>
    <h3>Author</h3>
    <p>{{post.author}}</p>
    <h3>Published date</h3>
    <p>{{post.publishedDate.toString().slice(0, 10)}}</p>
    <h3 *ngIf="authService.isAdmin()">Status</h3>
    <p *ngIf="authService.isAdmin()">{{post.status || "No status"}}</p>
  </div>

  <div class="buttons">
    <button *ngIf="authService.isAdmin() && authService.getUser().username == post.author" (click)="editPost(postId)">Edit</button>
    <button *ngIf="authService.isAdmin()
    && post.status == PostStatus.PENDING
    && authService.getUser().username != post.author"
            (click)="reviewPost(postId)">Review</button>
    <button (click)="addComment(postId)">Add comment</button>
    <button (click)="return()">Go back</button>
  </div>

  <div class="comments">
    @for (comment of this.comments; track comment.id) {
      <div class="comment-individual">
        <p><b>{{comment.author}}</b></p>
        <p>{{comment.content}}</p>
      </div>
    }
  </div>

</div>
